<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web | Lab #4</title>
    <link href="images/favicon.ico" rel="icon">
    <link href="css/auth.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
<div class="header">
    <h2>
        Андриенко Сергей
        <br>
        Группа: P32092
        <br>
        Вариант: 621606
    </h2>
</div>
<div id="auth" class="main">
    <input type="checkbox" id="chk" aria-hidden="true" @click="registration = !registration">

    <div class="signup">
        <label for="chk" aria-hidden="true">Регистрация</label>
        <input type="text" name="username" placeholder="Логин" required="" v-model="username">
        <input type="password" name="password" placeholder="Пароль" required="" v-model="password">
        <button v-on:click="authenticate">Зарегистрироваться</button>
    </div>

    <div class="login">
        <label for="chk" aria-hidden="true">Вход</label>
        <input type="text" name="username" placeholder="Логин" required="" v-model="username">
        <input type="password" name="password" placeholder="Пароль" required="" v-model="password">
        <button v-on:click="authenticate">Войти</button>
    </div>
</div>
<script src="js/auth.js"></script>
<script src="js/utils.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>